<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Ajouter un produit" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="listProduct" [rows]="6" [paginator]="true" [globalFilterFields]="['name','category.name']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gérer les produits</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Rechercher" />`
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name" style="min-width:15rem">Nom <p-sortIcon field="name"></p-sortIcon></th>
                <th>Image</th>
                <th pSortableColumn="price">Prix <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category" style="min-width:10rem">Catégorie <p-sortIcon field="category"></p-sortIcon></th>
                <th style="min-width:10rem">Action</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.name}}</td>
                <td><img src="{{'data:image/jpg;base64,' +product.images[0].data}}" [alt]="product.name" width="100" class="shadow-4" /></td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.category.name}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openUpdate(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(product.id,product.name)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                <!-- Au total, il y a {{products ? products.length : 0 }} produits. -->
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="showForm" [style]="{width: '30vw'}" header="Détails du produit" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
        <div class="field">
            <label for="name">Nom</label>
            <input type="text" pInputText id="name" [(ngModel)]="productForm.name" required autofocus />
            <!-- <small class="p-error" *ngIf="submitted && !product.name">Le nom est requis.</small> -->
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="productForm.description" required rows="3" cols="20"></textarea>
        </div>

        <div class="field">
            <label class="mb-3">Catégorie</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6" *ngFor="let category of listCategory">
                    <p-radioButton name="category" value="{{category.id}}" [(ngModel)]="productForm.categoryId" [inputId]="category.id" class="mr-2"></p-radioButton>
                    <label [for]="category.id">{{category.name}}</label>
                </div>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Prix</label>
                <p-inputNumber id="price" [(ngModel)]="productForm.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="quantity">Quantité</label>
                <p-inputNumber id="quantity" [(ngModel)]="productForm.quantity"></p-inputNumber>
            </div>
        </div>

        <div class="field">
            <button pButton type="button" class="p-button-success w-auto" (click)="onChooseImage()"> Choisissez une image</button>
            <p-dialog header="Choisissez une image" [(visible)]="showImage" position="top" [modal]="true" [style]="{width: '40vw'}" [transitionOptions]="'.3s'">
                <div class="flex justify-content-between">
                    <div>
                        <input type="file" #file (change)="uploadFile($event)" hidden>
                        <button pButton (click)="file.click()" label="Téléchargez l'image" icon="pi pi-plus" class="p-button-warning w-auto"></button>
                    </div>
                    <div>
                        <button pButton (click)="chooseImage()" class="p-button-primary w-auto" label="Choisissez l'image" [disabled]="disabled"></button>
                        <button pButton class="p-button-danger ml-2 w-auto" icon="pi pi-trash " label="Supprimez l'image" [disabled]="disabled"></button>
                    </div>
                </div>
                <p-divider align="left" >
                    Images téléchargées
                </p-divider>
                <div class="grid">
                    <div class="col-4 list-image flex align-items-center" *ngFor="let image of listImage" >
                        <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" class="w-full h-full p-2 border-1 " (click)="selectImage($event,image)" >
                    </div>
                </div>
            </p-dialog>
            <div class="grid mt-1" *ngIf="listImageChoosen != null">
                <div class="product-image col-2 flex align-items-center" *ngFor="let image of listImageChoosen">
                    <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" class="w-full h-full">
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text delete-image"></button>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button type="submit" pButton *ngIf="!onUpdate" (click)="createProduct()">Créer</button>
        <button type="submit" pButton *ngIf="onUpdate" (click)="updateProduct()" >Mettre à jour</button>
        <button pButton type="button" class="p-button-danger ml-3" (click)="showForm=false">Annuler</button>
    </ng-template>
</p-dialog>

<p-dialog header="Confirmation" [(visible)]="showDelete" [style]="{width :'30vw'}" [modal]="true" [transitionOptions]="'.3s'">
    <div>
        <i class="pi pi pi-exclamation-triangle"></i>
        <span class="ml-2">Êtes-vous sûr de vouloir supprimer <span>{{productForm.name}}</span> ?</span>
    </div>
    <div class="flex justify-content-end mt-3">
        <p-button label="Oui" icon="pi pi-check" class="mr-2" (click)="deleteProduct()"></p-button>
        <p-button label="Non" icon="pi pi-times" (click)="showDelete=false"></p-button>
    </div>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
